* {
  box-sizing: border-box;
  margin: 10;
  padding: 10;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

body {
  background-image: url("../mountains.jpeg");
  background-repeat: no-repeat;
}

/* .App {
  display: flexbox;
  text-align: center;
  justify-content: center;
  align-items: center;
} */
.input {
  padding: 14px 32px 14px 16px;
  border-radius: 10px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: white;
  color: black;
}
.new-item {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 10;
  padding: 10;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.todo-item {
  padding: 14px 32px 14px 16px;
  border-radius: 10px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: white;
  color: black;
  overflow: auto;
}

.add-button {
  padding: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
}

.new-item {
  text-align: center;
  display: flex;
  margin: 10px;
}

.todo-item {
  list-style: none;
  /* border: 1px; */
}

.complete-button {
  background: linear-gradient(
    90deg,
    #1fbe0aeb 0%,
    rgba(15, 233, 8, 0.909) 100%
  );
  color: #fff;
  padding: 3px 10px;
  margin: 0 5px 0 5px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  vertical-align: bottom;
}

.complete-button:hover {
  opacity: 45%;
}

.delete-button {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 12, 0.941) 0%,
    rgb(208, 111, 108) 100%
  );
  color: black;
  padding: 3px 10px;
  margin: 0 0 0 3px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  vertical-align: bottom;
}

.delete-button:hover {
  opacity: 45%;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
